@import 'core/variables';
@import 'core/reset';
@import 'core/functions';
@import 'layout/page';
@import 'layout/header';
@import 'layout/footer';
@import 'pages/index';

.form {
    
    &__input {
        width: rem(1250);
        margin-left: rem(140);
        margin-top: rem(25) ;
        font-size: rem(18);
    }
    &__btn {
        padding-left: rem(15);
        padding-right: rem(15);
        font-size: rem(18);
    }
}


.main {
   display: flex; 
   width: 100%; }

.favorites {
    display: flex;
    flex-direction: column;  
    width: 90vw;   
    align-items: center;
    border-right: solid rem(1) grey;
        &__titleFavorites {
            font-size: rem(40);
            color: rgb(180, 230, 115);
            margin-top: rem(35);
            margin-bottom: rem(35);
            box-shadow: rgba(0, 0, 0, 0.4) 0px 2px 4px, rgba(0, 0, 0, 0.3) 0px 7px 13px -3px, rgba(0, 0, 0, 0.2) 0px -3px 0px inset;
            width: fit-content;
        }
        &__listFavorites {
            display: flex;
            flex-direction: column;
            justify-content: center;
            align-items: center;
        }
    }
    


.sectionCharacters {
    display: flex;
    flex-direction: column;
    align-items: center;
    min-width: 70vw;
        &__title {
            font-size: rem(40);
            color: rgb(180, 230, 115);
            margin-top: rem(35);
            margin-bottom: rem(35);
            width: fit-content;
            box-shadow: rgba(0, 0, 0, 0.4) 0px 2px 4px, rgba(0, 0,  0, 0.3) 0px 7px 13px -3px, rgba(0, 0, 0, 0.2) 0px -3px  0px inset;
        }
        &__list {
            display: flex;
            flex-wrap: wrap;

        }
}
.listCharacters {
    display: flex;
    //flex-wrap: wrap;
    align-content: flex-end;
    justify-content: center;
    width: rem(140);
    margin: rem(10);
    box-shadow:  
        inset 0 -3em 3em rgba(0,0,0,0.1),
        0 0  0 2px rgb(255,255,255),
        0.3em 0.3em 1em rgba(0,0,0,0.3);


            &__img {
            
            object-fit: cover;
            width: 80%;
            height: rem(250);
            
            }
            &__name {
            font-weight: 300;
            text-transform: capitalize;
            }
            &__status {
            font-weight: 200;
            text-transform: capitalize;
            color: grey;
            }


}
.article {
    display: flex;
    flex-direction: column;
    text-align: center;
    align-items: center;
}